body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

.header {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/18/11/07/starry-sky-2515489_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    color: #ffffff;
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.logout-button {
    background-color: #c23c37;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    text-underline-offset: initial;
    text-decoration-color: initial;
    text-decoration-style: initial;
    text-decoration-thickness: initial;
}

.logout-button:hover {
    background-color: #f4514c;
    text-decoration: none;
}
.btn-success {
    background-color: #4caf50;
    border-color: #4caf50;
}

.btn-accion {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-right: 10rem;
}
.btn-group {
    position: relative;
}

.btn-accion {
    position: absolute;
    top: 80px;
}
.btn-group {
    position: relative;
}

.eliminar-tarea-btn {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 5px 15px;
    font-size: 0.8rem;
    background-color: #dc3545;
    border: none;
    /*border-radius: 20px;*/
    color: #fff;
    margin-right: 10px;
}

.editar-tarea-btn {
    padding: 5px 15px;
    font-size: 0.8rem;
    background-color: #007bff;
    border: none;
    /*   border-radius: 20px;*/
    color: #fff;
    /*  border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

.dark-theme {
    background-color: #4c4747;
}

.dark-theme .header-content {
    color: #f5f5f5;
}

/* Estilos para las tarjetas de tareas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    position: relative;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card h5 {
    color: #4caf50;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Añade un estilo de hover para las tarjetas */
.card:hover {
    transform: translateY(-5px);
}

.card .card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card .card-header {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-bottom: none;
    font-weight: bold;
}

.card .card-body {
    padding: 15px;
}

.card .card-title {
    margin-bottom: 5px;
}

.card .card-text {
    margin-bottom: 5px;
}

.card .fecha-vencimiento {
    font-size: 0.8rem;
    color: #6c757d;
}

.card .btn-danger {
    padding: 5px 10px;
    font-size: 0.8rem;
}

.card .btn-primary {
    padding: 5px 10px;
    font-size: 0.8rem;
}

/* Estilos para centrar vertical y horizontalmente el formulario */
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    width: 80%;
}

/* Estilos adicionales */
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

.card .estado-imagen {
    position: absolute;
    top: 0;
    left: 70%;
    width: 50px; /* Ajusta el tamaño según tus preferencias */
    height: auto; /* Ajusta el tamaño según tus preferencias */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.container {
    max-width: 1200px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-text {
    margin-left: auto;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

input,
textarea,
select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilos para centrar vertical y horizontalmente el formulario */
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    width: 80%;
}
